* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 20px;
	overflow: hidden;
	background-color: #162651;
	border: 2px solid light-grey;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding-right: 4%;
	border-bottom: 5px solid #3E829A;
	width: 100%;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 27px;
	text-decoration: none;
}

li a:hover {
	background-color: #fafaff;
	color: black;
}

body {
	background-color: #e0e0e0;
}

.img-pfp {
	width: 100%;
	height: auto;
}

.about {
	width: 100%;
}

.about h1 {
	padding: 30px 30px 20px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 55px;
	color: #162651;
	line-height: 40px;
}

.about p {
	padding: 0px 30px 20px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	color: #2F3B69;
	line-height: 40px;
}

.references {
	display: block;
	width: 75%;
	padding: 30px;
	padding-left: 50px;
	border: 5px solid gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9%;
}

dl {
	list-style-type : none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	font-family: 'Courier New', Courier, monospace;
	line-height: 50px;
}

dt {
	font-size: 32px;
}

dd {
	font-size: 24px;
	text-indent: 60px;
}

.demo {
	font-family: 'Courier New', Courier, monospace;
	color: #162651;
	display: flex;
}

.demo h1 {
	font-weight: bold;
}

span {
	color: black;
	font-size: 85px;
}

@media only screen and (min-width: 768px) {
	.wrapper {
			width: 600px;
			margin: 0 auto;
			}

	ul {
			font-size: 20px;
			}

	li a {
			padding: 14px 50px;
	}

	.img-pfp {
			padding: 20px 65px 20px;
			width: 85%;
			height: auto;
			}

	.about h1 {
			padding: 20px 0px 20px;
			}

	.about p {
			padding: 10px 0px 20px;
			}
}

@media only screen and (min-width: 1000px) {
	.wrapper {
			width: 1000px;
			}

			body {
					overflow: hidden;
			}

	.about {
			width: 60%;
			float: right;
			padding-top: 24%;
			}

	.about h1 {
			padding: 90px 0px 30px 100px;
			text-indent: 15px;
			}

	.about p {
			padding: 20px 0px 10px 100px;
			line-height: 45px;
			}

	.img-pfp {
			padding: 0px;
			width: 27.5%;
			float: left;
			padding-left: 17%;
			padding-top: 4%;
			}

			  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
	position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }